VITE_CONCIERGE_API_URL=https://career-concierge-api-xxxxx-ew.a.run.app

VITE_FIREBASE_API_KEY=AIzaSyBy0X4uTY9fa1FDqzzc-AMCTownXAo_ljA
VITE_FIREBASE_AUTH_DOMAIN=ssai-f6191.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ssai-f6191
VITE_FIREBASE_STORAGE_BUCKET=ssai-f6191.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=480846059254
VITE_FIREBASE_APP_ID=1:480846059254:web:6e62fc367e14d79acdbed7
VITE_FIREBASE_MEASUREMENT_ID=G-966CRT4YNB

VITE_FIREBASE_DATABASE_ID=career-concierge
